//////////////////////////////
// Contact
//////////////////////////////

.contact {
  background-color: $c-primary;
  color: $c-white;

  &-heading {
    text-align: center;
  }

  &-link {

    &-wrap {
      text-align: center;
    }
  }
}
