//////////////////////////////
// Tools
//////////////////////////////

.tools {

  &-header {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
      width: 50%;
      text-align: center;
      padding-bottom: 50%;
      position: relative;

      @include bp(bravo) {
        width: 33.3333%;
        padding-bottom: 33.3333%;
      }

      @include bp(charlie) {
        width: 25%;
        padding-bottom: 25%;
      }

      &-inner {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &-logo {
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;

        svg {
          width: 100%;
          height: auto;
          fill: $c-primary;
          stroke: $c-primary;

          * {
            fill: $c-primary;
            stroke: $c-primary;

            &.dont-fill {
              fill: none;
            }

            &.fill-white {
              fill: $c-white;
            }
          }
        }
      }

      &-name {
        color: $c-gray;
        font-family: $f-fugaz;
        font-size: 1rem;
        text-transform: lowercase;
      }
    }
  }
}
