<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="200px" height="200px" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>Rails</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Rails" >
            <g id="rails-logo-1" transform="translate(5.000000, 66.000000)">
                <g id="Layer_1">
                    <g id="Group">
                        <path d="M165.338384,59.8821429 L165.338384,68.8028571 L181.027778,68.8028571 C184.242424,68.8028571 189.760101,66.3878571 189.95202,59.6357143 L189.95202,56.1857143 C189.95202,50.4192857 185.34596,47.0185714 181.027778,47.0185714 L173.207071,47.0185714 L173.207071,42.8785714 L188.704545,42.8785714 L188.704545,33.9085714 L173.830808,33.9085714 C169.992424,33.9085714 164.858586,37.1614286 164.858586,43.2235714 L164.858586,46.3285714 C164.858586,52.3907143 169.944444,55.4957143 173.830808,55.4957143 C184.626263,55.545 171.239899,55.4957143 181.219697,55.4957143 L181.219697,59.8328571" id="Shape"></path>
                        <path d="M81.2777778,57.7135714 C81.2777778,57.7135714 89.6742424,56.9742857 89.6742424,45.8357143 C89.6742424,34.6971429 79.5025253,33.6621429 79.5025253,33.6621429 L61.1742424,33.6621429 L61.1742424,68.8028571 L70.3863636,68.8028571 L70.3863636,60.3257143 L78.3510101,68.8028571 L91.9772727,68.8028571 L81.2777778,57.7135714 Z M77.7272727,50.5178571 L70.3863636,50.5178571 L70.3863636,42.4842857 L77.7752525,42.4842857 C77.7752525,42.4842857 79.8383838,43.2728571 79.8383838,46.4764286 C79.8383838,49.68 77.7272727,50.5178571 77.7272727,50.5178571 Z" id="Shape"></path>
                        <path d="M112.416667,33.9085714 L103.060606,33.9085714 C96.3914141,33.9085714 94.1363636,40.1185714 94.1363636,43.0757143 L94.1363636,68.8028571 L103.492424,68.8028571 L103.492424,62.6421429 L112.272727,62.6421429 L112.272727,68.8028571 L121.340909,68.8028571 L121.340909,43.0757143 C121.340909,35.5842857 114.719697,33.9085714 112.416667,33.9085714 Z M112.272727,52.6864286 L103.444444,52.6864286 L103.444444,44.16 C103.444444,44.16 103.444444,42.2378571 106.371212,42.2378571 L109.585859,42.2378571 C112.176768,42.2378571 112.224747,44.16 112.224747,44.16 L112.224747,52.6864286 L112.272727,52.6864286 Z" id="Shape"></path>
                        <rect id="Rectangle-path" x="125.611111" y="33.9085714" width="9.73989899" height="34.8942857"></rect>
                        <polygon id="Shape" points="149.025253 59.7835714 149.025253 33.9085714 139.333333 33.9085714 139.333333 59.7835714 139.333333 68.8028571 149.025253 68.8028571 162.123737 68.8028571 162.123737 59.7835714"></polygon>
                        <path d="M3.35858586,68.8028571 L41.2626263,68.8028571 C41.2626263,68.8028571 34.0176768,34.845 58.0075758,21.0942857 C63.2373737,18.4821429 79.8863636,8.72357143 107.138889,29.4235714 C108.002525,28.6842857 108.818182,28.0928571 108.818182,28.0928571 C108.818182,28.0928571 83.8686869,2.51357143 56.0883838,5.37214286 C42.1262626,6.65357143 24.9494949,19.7142857 14.8737374,36.9642857 C4.7979798,54.2142857 3.35858586,68.8028571 3.35858586,68.8028571 Z" id="Shape"></path>
                        <path d="M3.35858586,68.8028571 L41.2626263,68.8028571 C41.2626263,68.8028571 34.0176768,34.845 58.0075758,21.0942857 C63.2373737,18.4821429 79.8863636,8.72357143 107.138889,29.4235714 C108.002525,28.6842857 108.818182,28.0928571 108.818182,28.0928571 C108.818182,28.0928571 83.8686869,2.51357143 56.0883838,5.37214286 C42.1262626,6.65357143 24.9494949,19.7142857 14.8737374,36.9642857 C4.7979798,54.2142857 3.35858586,68.8028571 3.35858586,68.8028571 Z" id="Shape"></path>
                        <path d="M3.35858586,68.8028571 L41.2626263,68.8028571 C41.2626263,68.8028571 34.0176768,34.845 58.0075758,21.0942857 C63.2373737,18.4821429 79.8863636,8.72357143 107.138889,29.4235714 C108.002525,28.6842857 108.818182,28.0928571 108.818182,28.0928571 C108.818182,28.0928571 83.8686869,2.51357143 56.0883838,5.37214286 C42.0782828,6.65357143 24.9015152,19.7142857 14.8257576,36.9642857 C4.75,54.2142857 3.35858586,68.8028571 3.35858586,68.8028571 Z" id="Shape"></path>
                        <path d="M82.3333333,8.13214286 L82.5252525,4.83 C82.0934343,4.58357143 80.8939394,3.99214286 77.8712121,3.105 L77.6792929,6.35785714 C79.2626263,6.9 80.7979798,7.49142857 82.3333333,8.13214286 Z" id="Shape"></path>
                        <path d="M77.7752525,18.5807143 L77.5833333,21.6857143 C79.1666667,21.735 80.75,21.9321429 82.3333333,22.2771429 L82.5252525,19.2214286 C80.8939394,18.8764286 79.3106061,18.6792857 77.7752525,18.5807143 Z" id="Shape"></path>
                        <path d="M60.0227273,3.20357143 L60.5025253,3.20357143 L59.5429293,0.197142857 C58.0555556,0.197142857 56.520202,0.295714286 54.9368687,0.492857143 L55.8484848,3.40071429 C57.239899,3.25285714 58.6313131,3.20357143 60.0227273,3.20357143 Z" id="Shape"></path>
                        <path d="M62.3257576,21.3407143 L63.4292929,24.7414286 C64.8207071,24.0514286 66.2121212,23.46 67.6035354,23.0164286 L66.5479798,19.7635714 C64.9166667,20.2564286 63.5252525,20.7985714 62.3257576,21.3407143 Z" id="Shape"></path>
                        <path d="M40.5429293,8.37857143 L38.3838384,4.97785714 C37.1843434,5.61857143 35.9368687,6.30857143 34.6414141,7.09714286 L36.8484848,10.5471429 C38.0959596,9.75857143 39.2954545,9.01928571 40.5429293,8.37857143 Z" id="Shape"></path>
                        <path d="M50.3787879,30.5571429 L52.6818182,34.1057143 C53.4974747,32.8735714 54.4570707,31.74 55.5126263,30.6064286 L53.3535354,27.255 C52.25,28.29 51.2424242,29.4235714 50.3787879,30.5571429 Z" id="Shape"></path>
                        <path d="M43.4217172,46.4271429 L47.3080808,49.5814286 C47.5,47.6592857 47.8358586,45.7371429 48.3156566,43.815 L44.8611111,41.0057143 C44.2373737,42.8292857 43.8055556,44.6528571 43.4217172,46.4271429 Z" id="Shape"></path>
                        <path d="M22.4065657,23.0164286 L19,19.9607143 C17.7525253,21.1928571 16.5530303,22.425 15.4494949,23.6571429 L19.1439394,26.91 C20.1515152,25.5792857 21.2550505,24.2485714 22.4065657,23.0164286 Z" id="Shape"></path>
                        <path d="M7.91666667,45.0471429 L2.3989899,42.9771429 C1.48737374,45.0964286 0.47979798,47.5607143 0,48.8914286 L5.51767677,50.9614286 C6.14141414,49.2857143 7.1489899,46.8707143 7.91666667,45.0471429 Z" id="Shape"></path>
                        <path d="M42.7020202,58.9457143 C42.7979798,61.5578571 43.0378788,63.6771429 43.2777778,65.1557143 L49.0353535,67.275 C48.6035354,65.3528571 48.1717172,63.1842857 47.8838384,60.8678571 L42.7020202,58.9457143 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
