<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="200px" height="200px" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>React</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
        <g id="React">
            <g id="React.js_logo" transform="translate(10.000000, 21.000000)">
                <g id="Layer_2">
                    <ellipse id="Oval"  cx="89.8856123" cy="79.2144527" rx="16.6743412" ry="16.7033691"></ellipse>
                    <path d="M89.8856123,45.2530111 C112.273176,45.2530111 133.07065,48.4710242 148.75185,53.8788843 C167.64547,60.3944868 179.262035,70.2712731 179.262035,79.2144527 C179.262035,88.5342048 166.950471,99.0262926 146.661533,105.760314 C131.322017,110.851533 111.137445,113.50885 89.8856123,113.50885 C68.0969911,113.50885 47.4643759,111.014348 31.9556798,105.704044 C12.330166,98.9843402 0.509189189,88.3560737 0.509189189,79.2144527 C0.509189189,70.3438573 11.6005992,60.5436507 30.2286505,54.037704 C45.9683485,48.5409448 67.2793444,45.2530111 89.8856123,45.2530111 Z" class="dont-fill" stroke-width="8"></path>
                    <path d="M60.3728893,62.3316208 C71.5570324,42.9043443 84.7297852,26.4643429 97.2401113,15.5580588 C112.313394,2.4176445 126.657775,-2.72884573 134.391515,1.73874862 C142.450985,6.39446273 145.373906,22.3200482 141.061318,43.2902395 C137.800703,59.1449055 130.015111,77.9881783 119.398335,96.43024 C108.513331,115.338106 96.0488732,131.996193 83.708724,142.801592 C68.0933349,156.475401 52.9971183,161.42345 45.0915388,156.856634 C37.4206173,152.424999 34.4867283,137.904485 38.1668029,118.489195 C41.2761868,102.084487 49.0793943,81.9490147 60.3728893,62.3316208 Z" class="dont-fill" stroke-width="8"></path>
                    <path d="M60.4011413,96.4795174 C49.1847577,77.0708864 41.5450796,57.4281879 38.3605785,41.1240323 C34.5236221,21.4800019 37.2364806,6.46038788 44.962909,1.97980827 C53.0144018,-2.689557 68.2475577,2.72695998 84.2298906,16.9428199 C96.3137774,27.6906173 108.722064,43.8579283 119.369751,62.2823434 C130.286331,81.171897 138.468448,100.308836 141.650954,116.414884 C145.678363,136.796077 142.418412,152.36873 134.520477,156.948863 C126.856868,161.393151 112.833231,156.687826 97.879604,143.797461 C85.244969,132.90616 71.7275416,116.077933 60.4011413,96.4795174 Z" class="dont-fill" stroke="#000" stroke-width="8"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
