<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="200px" height="200px" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>Sass</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0.0277372263 190 0.0277372263 0.0596350365 189.940365 0.0596350365 189.940365 190"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Sass">
            <g id="Sass-Logo---Seal-(Black)" transform="translate(5.000000, 5.000000)">
                <g id="Group-3">
                    <path d="M94.9704136,0.0596350365 C147.421046,0.0596350365 189.940365,42.5794161 189.940365,95.0300487 C189.940365,147.480681 147.421046,190 94.9704136,190 C42.519781,190 0,147.480681 0,95.0300487 C0,42.5794161 42.519781,0.0596350365 94.9704136,0.0596350365"></path>
                </g>
                <path d="M76.096618,126.664818 C77.4783942,131.775864 77.326764,136.542044 75.8996837,140.858418 C75.7411192,141.33781 75.5663747,141.812117 75.376837,142.280876 C75.1872993,142.74871 74.9820438,143.21146 74.7619951,143.6682 C73.6612895,145.951898 72.1842822,148.089513 70.3753528,150.062555 C64.8574939,156.082457 57.1479319,158.358759 53.8421168,156.44073 C50.2723358,154.371533 52.0604623,145.883942 58.4580535,139.121606 C65.3405839,131.845669 75.243236,127.167786 75.243236,127.167786 L75.2279805,127.1382 C75.5132117,126.98472 75.8030657,126.826618 76.096618,126.664818 Z M154.542117,40.7080779 C150.24146,23.8410706 122.274015,18.296399 95.8043796,27.699781 C80.0519465,33.296691 62.9986375,42.080146 50.7369343,53.5490268 C36.1577859,67.1855718 33.832944,79.0543309 34.7912652,84.013747 C38.1715085,101.513163 62.1489538,112.951533 72.0058394,121.4382 L72.0058394,121.489513 C69.0994404,122.920292 47.8263747,133.686034 42.8480049,144.692165 C37.5950365,156.303431 43.6842822,164.635693 47.7154258,165.757202 C60.2059611,169.232214 73.0233333,162.98163 79.9114112,152.707299 C86.5586375,142.792165 86.0052798,129.988662 83.1164477,123.619732 C87.1013625,122.568491 91.7468856,122.097421 97.6507543,122.787153 C114.310195,124.73292 117.579027,135.135304 116.954015,139.487737 C116.329465,143.841557 112.835036,146.23528 111.666837,146.957835 C110.498175,147.680852 110.141752,147.930949 110.240219,148.468127 C110.381679,149.249392 110.922555,149.220268 111.918783,149.051533 C113.289927,148.820389 120.666642,145.510414 120.981922,137.474477 C121.38365,127.2718 111.606277,115.858856 94.2940876,116.157032 C87.1642336,116.28 82.6809732,116.958175 79.4426521,118.163358 C79.2031873,117.890608 78.959562,117.619246 78.7076156,117.350657 C68.0047445,105.931703 48.2193187,97.8541606 49.0583698,82.5029927 C49.3634793,76.9222628 51.303236,62.226618 87.076399,44.4012895 C116.380779,29.7990268 139.84,33.8172263 143.894258,42.7227251 C149.685328,55.4453285 131.356569,79.0922384 100.923747,82.5029927 C89.3291241,83.802944 83.2241606,79.3090511 81.7055474,77.6355718 C80.1064964,75.8737956 79.8684185,75.7942822 79.2716058,76.1248175 C78.2989538,76.663382 78.9151825,78.2189781 79.2716058,79.146326 C80.18,81.5109246 83.9088078,85.7043309 90.2657178,87.7901703 C95.8575426,89.6254501 109.470973,90.6336983 125.934404,84.2656934 C144.372725,77.1330657 158.771119,57.2926277 154.542117,40.7080779 L154.542117,40.7080779 Z" id="Fill-4" class="fill-white"></path>
            </g>
        </g>
    </g>
</svg>
