<section class="contact">
  <div class="container">
    <h4 class="contact-heading">Contact Us</h4>
    <p>
      Please reach out to us about your next project. We'll take a look at your needs and give you a free estimate.
    </p>

    <div class="contact-link-wrap">
      <a class="contact-link btn btn--light" href="mailto:kyle@agath.ist">Email Us</a>
    </div>
  </div>
</section>
