<section class="contact">
  <div class="container">
    <h4 class="contact-heading">Contact Us</h4>
    <p>
      Please reach out to us about your next project. We'll take a look at your needs and give you a free estimate. <a href="mailto:kyle.a.shevlin@gmail.com">Email us.</a>
    </p>
  </div>
</section>
