<footer class="footer">
  <div class="container">

    <div class="footer-copyright">
      Copyright &copy;<span class='js-copyright-year'>2017</span> Agathist. All Rights Reserved.
    </div>
  </div>
</footer>
