<section class="more_detail">
  <div class="container">
    <p>
      An <em>agathist</em> believes that all things tend towards ultimate good. That despite all the chaos and brokeness, the universe is on a trajectory towards greatness.
    </p>

    <p>
      Don't mistake this for optimism. This isn't about silver linings or making the best of a bad situation. It's about getting your hands dirty and putting in the work to make something better.
    </p>

    <p>
      That's what we strive to do at <em>agathist</em>. In fact, we think about this so much we have a motto:
    </p>

    <blockquote>
      With all things, leave them better than you find them
    </blockquote>

    <p>
      We think it applies to everything, but probably most important to you is how it applies to websites. Chances are your website could be better. If that weren't the case, you probably wouldn't be here. So let's make it better.
    </p>
  </div>
</section>
