//////////////////////////////
// Tags
//////////////////////////////

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: $f-open;
  font-size: 85%;
  box-sizing: border-box;

  @include bp(alpha) {
    font-size: 100%;
  }

  @include bp(charlie) {
    font-size: 115%;
  }
}

@include body;
body {}

a {
  color: currentColor;

  &:hover {
    text-decoration: none;
  }
}

em {
  font-family: $f-fugaz;
}

blockquote {
  color: $c-primary;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  padding: bs();
  margin-bottom: bs();

  @include bp(bravo) {
    font-size: 36px;
  }

  @include bp(charlie) {
    font-size: 48px;
  }
}

section {
  padding-top: bs(2);
  padding-bottom: bs(2);

  @include bp(bravo) {
    padding-top: bs(4);
    padding-bottom: bs(4);
  }
}
