//////////////////////////////
// Tags
//////////////////////////////

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: $f-open;
  box-sizing: border-box;
}

body {}

h1 {
  font-family: $f-fugaz;
}
